
.sourcecodePre{
    text-align: left;
    background: #ddd;
    padding: 20px;
    border-radius: 20px;
    font-size: 16px;
}
.sourcecodeCode{
    color: #000;
    word-break:break-all;
    white-space: pre-wrap;
    line-height: 20px
}
.sourcecodeAlert{
    height: 30px;
    padding: 10px;
}
