.provided{
    height:100px;
    margin-top: auto;
    display: flex;
    align-items: center;
}

.provided-logo{
    display: flex;
    align-items: center;
}
.provided-logo img{
    width:60px;
}
.provided-logo .dfinity{
    margin-left:6px;
    font-size: .875em;
    letter-spacing: 2px;
}
