*{
  box-sizing: border-box;
  text-align: left;
}
html,body{
  height:100%;
  width:100%;
}
body{
  max-width:1140px;
  margin:0 auto;
}
.App {
  padding: 30px;
  width:100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.flex{
  display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-row{
  flex-direction: row!important;
}
.justify-center{
  justify-content: center;
}
fieldset{
  width:100%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title{
  position: relative;
  text-align: center;;
}
.title span{
  position: absolute;
  right: 4px;
  top:4px;
  font-size: 14px;
}
.itemBox{
  margin: 20px 0 20px;
}
.label{
  margin: 20px 0 10px;
}
.label span{
  font-size:14px;
}
.CountInput{
  margin:10px 0 20px 0;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}
.createButton{
  width:100%;
  height:40px;
  line-height: 40px;
  text-align: center;
  font-size:14px;
  display: block;
  cursor: pointer;
}
.Identity{
  margin: 20px 0;
}
.sliderRoot{
  width: 375px
}
.sliderMargin{

}
