body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#333;
}
.App{
  width:100%;height:100%;
}
hr{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.title{
  font-weight: normal;
  font-size:36px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin:0;
  padding: 0;
}
a{
  text-decoration: none;
}
ul,li,dl,dt,ol{
  list-style: none;
}
